body {
    font-family: 'Sora', sans-serif;
    padding: 3%;
}
h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
}
nav {
    padding: 3%;
    background-color: gray;
    margin : 0 0 1% 0;
}
button {
    padding : 1%;
    border: 3px solid blue;
    border-radius: 5px;
    background-color: blue;
    color : white;
}
.backToHome {
    background-color: white;
    color : black
}
button:hover{
    border : 3px solid red;
}
img, iframe {
    width : 44%;
    border: 3px solid blue;
    margin: 0 25%;
}
button, a{
    font-family: 'Syne', sans-serif;
    text-decoration: none;
}

footer > * {
    border : 1px solid gray;
    padding: 0 1%;
}

ul > li {
    list-style: circle;
}